@use "sass/base/reset";
@use "sass/pages/header";
@use "sass/pages/footer";
@use "sass/base/variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 2rem;
  background: #f7efd9;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
