@use "sass/base/reset";
@use "sass/pages/header";
@use "sass/pages/footer";
@use "sass/pages/scroll";
@use "sass/base/variables" as v;

html,
body {
  font-family: "Times New Roman", Times, serif;
  background: v.$bgColor;
  letter-spacing: 1px;
}

img {
  max-width: 100%;
  height: auto;
}

.loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10;
  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  &-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: v.$bgColor;
    z-index: 11;
    @include v.sp {
      top: 45%;
      font-size: 36px;
    }
  }
  &-text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: v.$bgColor;
    z-index: 11;
    @include v.sp {
      top: 52%;
      width: 100%;
      text-align: center;
      font-size: 28px;
    }
  }
  &-line {
    display: inline-block;
    background: v.$bgColor;
    width: 15%;
    height: 1px;
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    @include v.sp {
      top: 48.5%;
      width: 25%;
    }
  }
}
.home {
  overflow-x: hidden;
  &__hero {
    position: fixed;
    bottom: 5%;
    margin-left: 7%;
    margin-top: 1.5%;
    font-size: 50px;
    @include v.ipro {
      font-size: 70px;
      bottom: 20%;
    }
    @include v.ipad {
      font-size: 70px;
      bottom: 15%;
    }
    @include v.sp {
      font-size: 50px;
      top: 15%;
      z-index: 5;
    }
  }
}
.about {
  margin-top: 92px;
  overflow: hidden;
  &__inner {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    @include v.ipad {
      padding: 4% 2%;
    }
  }
  &__topbox {
    display: flex;
    justify-content: space-between;
    @include v.sp {
      flex-direction: column;
    }
    &_text {
      line-height: 2em;
      width: 48%;
      @include v.ipad {
        font-size: 14px;
      }
      @include v.sp {
        width: 100%;
        margin-top: 4%;
      }
    }
  }
  &__bottombox {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    @include v.sp {
      flex-direction: column;
    }
    &_text {
      width: 48%;
      line-height: 2rem;
      @include v.ipad {
        width: 49%;
      }
      @include v.sp {
        width: 100%;
        margin-top: 4%;
      }
    }
    &_skill {
      width: 48%;
      @include v.ipad {
        width: 49%;
      }
      @include v.sp {
        width: 100%;
        margin: 4% 0;
      }
    }
    &_heading {
      margin-top: 4%;
      font-size: 36px;
      font-weight: bold;
      @include v.sp {
        font-size: 28px;
      }
      &:first-child {
        margin-top: 0;
      }
    }
    &_detail {
      margin-top: 2%;
      font-size: 20px;
      @include v.sp {
        font-size: 16px;
      }
    }
  }
}
.works {
  margin-top: 92px;
  &__inner {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 2%;
    @include v.ipro {
      margin-top: 4%;
    }
    &_item {
      width: 30%;
      margin-bottom: 2%;
      &:hover {
        cursor: pointer;
      }
      @include v.ipro {
        width: 32%;
        margin-bottom: 4%;
      }
      @include v.sp {
        width: 100%;
        margin-bottom: 4%;
      }
    }
  }
  &__archive {
    &_ttl {
      font-size: 28px;
      @include v.ipro {
        font-size: 22px;
      }
      @include v.sp {
        font-size: 18px;
      }
    }
    &_imgwrap {
      margin: 2% 0 4%;
    }
    &_text {
      line-height: 2em;
      @include v.sp {
        display: none;
      }
    }
  }
  &__thumbnail {
    &_item {
      width: 30%;
      @include v.sp {
        width: 48%;
      }
    }
    &_ttl {
      font-size: 24px;
      @include v.ipro {
        font-size: 22px;
      }
      @include v.sp {
        font-size: 18px;
      }
    }
    &_imgwrap {
      margin: 2% 0 4%;
    }
    &_detail {
      line-height: 2em;
      @include v.sp {
        display: none;
      }
    }
  }
}
.post {
  margin-top: 60px;
  overflow: hidden;
  .prev-next.top {
    text-align: left;
  }
  .prev-next {
    display: block;
    text-align: center;
    font-size: 24px;
    @include v.ipro {
      margin-left: 2%;
    }
    @include v.sp {
      margin-left: 6%;
      font-size: 16px;
    }
    .prev-next-link + .prev-next-link {
      margin-left: 2%;
    }
    .prev {
      position: relative;
      &::before {
        content: "<";
        position: absolute;
        top: 5%;
        left: -40%;
      }
      &:hover {
        opacity: 0.7;
        transition: all 0.5s;
      }
    }
    .next {
      position: relative;
      &::after {
        content: ">";
        position: absolute;
        top: 5%;
        right: -40%;
      }
      &:hover {
        opacity: 0.7;
        transition: all 0.5s;
      }
    }
  }
  &__inner {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
  }
  &__top-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
    @include v.ipad {
      justify-content: center;
    }
    @include v.sp {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10%;
    }
  }
  &__title-area {
    flex: 1;
    line-height: 2em;
    &_ttl {
      display: inline-block;
      margin-bottom: 2%;
      font-size: 32px;
      color: v.$linkColor;
      text-decoration: none;
      @include v.ipad {
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &_desc {
      font-size: 20px;
      @include v.ipad {
        font-size: 16px;
      }
      @include v.sp {
        margin-top: 2%;
        font-size: 16px;
      }
    }
  }
  &__imgwrap {
    flex: 1;
    text-align: center;
    img {
      @include v.sp {
        width: 100%;
      }
    }
    @include v.sp {
      margin-top: 4%;
    }
  }
  &__sec {
    margin-top: 4%;
    @include v.sp {
      // margin-top: 30%;
      margin-bottom: 14%;
    }
    &_ttlcontainer {
      display: flex;
      align-items: center;
      margin-top: 8%;
      .num {
        margin-right: 1%;
        font-size: 80px;
        color: v.$numColor;
        font-weight: bold;
        @include v.ipad {
          font-size: 60px;
        }
        @include v.sp {
          font-size: 50px;
          top: 0px;
        }
      }
    }
    &_ttl {
      font-size: 42px;
      @include v.ipad {
        font-size: 40px;
      }
      @include v.sp {
        font-size: 26px;
      }
    }
    &01_detailarea {
      display: flex;
      justify-content: space-between;
      margin-top: 2%;
      @include v.sp {
        flex-direction: column;
      }
      &-text {
        width: 80%;
        margin-right: 2%;
        font-size: 20px;
        line-height: 2em;
        @include v.ipad {
          font-size: 16px;
        }
        @include v.sp {
          width: 100%;
          margin-bottom: 4%;
          font-size: 16px;
        }
      }
      .post__detailarea-imgwrap {
        @include v.ipro {
          width: 80%;
        }
        @include v.sp {
          width: 100%;
          margin-top: 4%;
        }
      }
      &-desc {
        &:first-child {
          margin-bottom: 6%;
        }
      }
    }
    &02_detailarea {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-top: 2%;
      @include v.sp {
        flex-direction: column;
      }
      &-text {
        width: 80%;
        margin-left: 2%;
        font-size: 20px;
        line-height: 2em;
        @include v.ipad {
          font-size: 16px;
        }
        @include v.sp {
          width: 100%;
          font-size: 16px;
        }
      }
      .post__detailarea-imgwrap {
        @include v.ipro {
          width: 80%;
        }
        @include v.sp {
          width: 100%;
          margin-top: 4%;
        }
      }
      &-desc {
        &:first-child {
          margin-bottom: 6%;
          @include v.ipad {
            margin-bottom: 4%;
          }
        }
      }
    }
  }
  &__sec-sp {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 4%;
    @include v.sp {
      margin-bottom: 10%;
    }
    .sp-image {
      width: 20%;
      margin: 2%;
      @include v.sp {
        width: 30%;
      }
    }
  }
}
